{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}


{% block content %}

    <div class="text_red"> Chat tra {{ chat.utente_1.username }} e  {{ chat.utente_2.username }}</div>
        {% if messaggi %}
            <div style="text-align: center">

                {% for messaggio in messaggi %}
                    <div class="chat-container">
                        {% if messaggio.mittente == chat.utente_1 %}
                            <div class="messaggio-inviato"> {{ messaggio.testo }} </div>
                        {% else %}
                            <div class="messaggio-ricevuto"> {{ messaggio.testo }} </div>
                        {% endif %}
                    </div>
                    {% endfor %}
            </div>
        {% else %}
            <br>
            <div class="messaggio-per-utente"> Non ci sono ancora messaggi in questa chat</div>
        {% endif %}

    <div class="div-bassa-3">
        <form id="form_chat" action="{% url 'Chat:mostra_chat' chat.utente_1.pk chat.utente_2.pk %}" method="POST">
            {% csrf_token %}
            <input type="text" id="messaggio" name="messaggio" class="input-larga">
            <br>
            <br>
            <button class="pulsante-rosso" type="submit">Invia</button>
            <br>
            <br>
            <a href="{% url 'home_login' %}" class="pulsante-rosso">Indietro</a>
        </form>
        <script>
            document.getElementById("mio-form").addEventListener("submit", function(event) {event.preventDefault();

            var messaggioValue = document.getElementById("messaggio").value;

            // Esegui la tua logica di validazione qui
            if (messaggioValue.trim() === "") {
                alert("Il campo messaggio non può essere vuoto.");
                return;
            }

        // Invia la richiesta AJAX
            $.ajax({
                url: '/crea_messaggio/',
                method: 'POST',
                data: {
                    messaggio: messaggioValue
                },
                success: function(response) {
                    alert(response.message); // Mostra un messaggio di successo
                    // Puoi anche aggiungere codice per pulire il campo del modulo o eseguire altre azioni sulla pagina
                },
                error: function(response) {
                    alert('Errore durante la creazione del messaggio.');
                }
            });
        });
</script>
    </div>


{% endblock %}