{% extends 'base.html' %}

{% block content %}
    <div class="alert alert-primary" role="alert">
        Lista completa degli esercozo disponibili per la scheda {{ pk_scheda }}
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Descrizione</th>
                <th scope="col">Distretto Target</th>
                <th scope="col">Immagine</th>
            </tr>
        </thead>
        {% for esercizio in esercizi %}
            <tbody>
                <tr>
                    <th scope="row">{{ forloop.counter0 }} </th>
                    <td> {{ esercizio.nome}}</td>
                    <td> {{ esercizio.descrizione}}</td>
                    <td> {{ esercizio.distretto_target }}</td>
                    <td> {{ esercizio.immagine }}</td>
                    <td>
                        <form method="POST" action="{% url 'Workout:creadettaglio' pk_scheda esercizio.pk%}">
                            {% csrf_token %}
                            <button type="submit">Seleziona</button>
                        </form>
                    </td>
                </tr>

            </tbody>
        {% endfor %}

    </table>
{% endblock %}