{% extends 'base.html' %}
{% load static %}

{% block head%}
    <style>
        .div-pulsanti{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .div-pulsanti button {
            margin: 0 10px;
        }
        .card-header{
            background-color: #8B0000;
            color: white;
        }
        .separator{
            border: 1px solid red; /* Imposta il colore rosso e lo stile della linea */
            margin: 10px 0; /* Aggiunge spazio sopra e sotto la linea (personalizzabile) */
        }
        .container {
            display: flex; /* dispongo i contenuti in orizzontale */
            align-items: center; /* allineamento verticale al centro */
        }

        .content {
            padding: 40px; /* Spazio di riempimento per separare il contenuto dall'immagine */
        }
        

    </style>
{% endblock %}

{% block content %}
    <!-- Se ho la scheda la visualizzo -->

    {% if scheda %}
        <div class="text_red">Scheda di {{my_user.username}}</div>
        <div style="text-align: center;">
            <h4> {{scheda.tipologia}} </h4>
            <h5> {{scheda.descrizione}} </h5>
            <h4> inizio {{scheda.data_inizio}} fine {{scheda.data_fine}}</h4>
        </div>
        
        {% for giorno in giorni_scheda %}
            <div style="text-align: center;">
            
                <div class="card">
                    <div class="card-header"> Giorno  {{ giorno.giorno }} {{ giorno.descrizione_giorno }} </div>
                    <div class="card-body">

                        {% for dettaglio in dettagli %}
                            {% if dettaglio.giorno == giorno %}

                                <strong>{{dettaglio.esercizio.nome}}</strong> <br>
                                <img src="{{ dettaglio.esercizio.immagine.url }}" width="200"> <br>
                                {{ dettaglio.esercizio.descrizione }}
                                distretto: {{ dettaglio.esercizio.distretto_target}}   
                                <strong>
                                    <p> serie : {{dettaglio.serie}}
                                        {% if "pt" in user.groups.all.1.name %}
                                            <form method="GET" action="{% url 'Workout:modifica_dettaglio' dettaglio.pk 1 %}" >
                                                {% csrf_token %}
                                                <button class="pulsante-rosso" type="submit">Modifica Serie</button>
                                            </form>
                                        {% endif %}
                                    </p>
                                    <p> ripetizioni: {{dettaglio.ripetizioni}}
                                        {% if "pt" in user.groups.all.1.name %}
                                            <form method="GET" action="{% url 'Workout:modifica_dettaglio' dettaglio.pk 2 %}" >
                                                {% csrf_token %}
                                                <button class="pulsante-rosso" type="submit">Modifica Ripetizioni</button>
                                            </form>
                                        {% endif %}
                                    </p>
                                    <p> recupero : {{dettaglio.recupero}}
                                        {% if "pt" in user.groups.all.1.name %}
                                            <form method="GET" action="{% url 'Workout:modifica_dettaglio' dettaglio.pk 3 %}" >
                                                {% csrf_token %}
                                                <button class="pulsante-rosso" type="submit">Modifica Recupero</button>
                                            </form>
                                        {% endif %}
                                    </p>
                                </strong> 
                                <p> {{dettaglio.descrizione}} </p>
                                <!-- Posso anche eliminare un dettaglio da una scheda -->
                                {% if "pt" in user.groups.all.1.name %}
                                    <form method="GET" action="{% url 'Workout:elimina_dettaglio' dettaglio.pk my_user.pk %}" >
                                        {% csrf_token %}
                                        <button class="pulsante-rosso" type="submit">Elimina Esercizio</button>
                                    </form>
                                {% endif %}
                                <!-- se sono un pt do la possibilità di modificare il dettaglio-->
                            <hr class="separator">
                            {%endif%}
                        {%endfor%}
                    {% if "pt" in user.groups.all.1.name %}
                        <form method="GET" action="{% url 'Workout:elimina_giorno' giorno.pk my_user.pk %}">
                            {% csrf_token %}
                            <button class="pulsante-rosso button" type="submit">Elimina giorno</button>
                        </form>
                    {% endif %}

                    </div>
                </div>
                <!-- Se sono un pt do la possibilità di aggiungere un esercizio al giorno -->
                {% if "pt" in user.groups.all.1.name %}
                    <br>
                    <form method="POST" action="{% url 'Workout:crea_dettaglio' giorno.pk %}">
                        {% csrf_token %}
                        <button class="pulsante-rosso button" type="submit">Aggiungi esercizio</button>
                    </form>
                {%endif%}
            </div> 
        {%endfor%}
        <br>
        <div class="div-pulsanti">
            <a href="{% url 'home_login' %}" class="pulsante-rosso button">Home </a>

            {% if "pt" in user.groups.all.1.name %}
                <form method="POST" action="{% url 'Workout:crea_giorno' scheda.pk %}">
                    {% csrf_token %}
                    <button class="pulsante-rosso button" type="submit">Crea giorno</button>
                </form>
            {% endif %}

        </div>

    <!-- Se non ho la scheda -->
    {% else %}
        <div class="404Scheda">
            <div class="card mb-3">
                <img src="{% static 'imgs/404_scheda.jpg' %}" class="card-img-top">
                <div class="card-body">

                    <!-- Se sono un personal trainer do la possibilità di crearla -->
                    {% if "pt" in user.groups.all.1.name %}
                        <div style="text-align: center;">
                            <p> L'utente {{ my_user.username }}, non possiede ancora una scheda, creane una</p>
                            <form method="POST" action="{% url 'Workout:crea_scheda' my_user.pk %}">
                                {% csrf_token %}
                                <button class="pulsante-rosso" type="submit">Crea scheda</button>
                            </form>
                        </div>
                    <!-- Altrimenti do un messaggio di errore -->
                    {% else %}
                        <h3> <span style="color:#8B0000;"> <strong>Se desideri ricevere una scheda chiedila al tuo personal trainer </strong> </span></h3>
                        <p class="card-text">Al momento non disponi di alcuna scheda, per ricevene controlla che il tuo abbonamento sia valido e fai richiesta ad un personal trainer attraverso il link <a href="#"></a></p>
                     {% endif %}
                    <div class="div-bassa-3">
                        <a href="{% url 'home_login' %}" class="pulsante-rosso">Indietro</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}