{% extends 'base.html' %}
{% load static %}

{% block head%}
    <style>
        .div-pulsanti{
            display: flex;
            justify-content: center;
            align-items: center;
}
        .div-pulsanti button {
            margin: 0 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <!-- Se ho la scheda la visualizzo -->

    {% if scheda %}


        <div class="div-pulsanti">
            <a href="{% url 'home_login' %}" class="pulsante-rosso button">Home </a>

            {% if "pt" in user.groups.all.1.name %}
                <form method="POST" action="{% url 'Workout:crea_giorno' scheda.pk %}">
                    {% csrf_token %}
                    <button class="pulsante-rosso button" type="submit">Crea giorno</button>
                </form>
            {% endif %}

        </div>

    <!-- Se non ho la scheda -->
    {% else %}
        <div class="404Scheda">
            <div class="card mb-3">
                <img src="{% static 'imgs/404_scheda.jpg' %}" class="card-img-top">
                <div class="card-body">

                    <!-- Se sono un personal trainer do la possibilità di crearla -->
                    {% if "pt" in user.groups.all.1.name %}
                        <div style="text-align: center;">
                            <p> L'utente {{ my_user.username }}, non possiede ancora una scheda, creane una</p>
                            <form method="POST" action="{% url 'Workout:crea_scheda' my_user.pk %}">
                                {% csrf_token %}
                                <button class="pulsante-rosso" type="submit">Crea scheda</button>
                            </form>
                        </div>
                    <!-- Altrimenti do un messaggio di errore -->
                    {% else %}
                        <h3> <span style="color:#8B0000;"> <strong>Se desideri ricevere una scheda chiedila al tuo personal trainer </strong> </span></h3>
                        <p class="card-text">Al momento non disponi di alcuna scheda, per ricevene controlla che il tuo abbonamento sia valido e fai richiesta ad un personal trainer attraverso il link <a href="#"></a></p>
                     {% endif %}
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}