{% extends 'base.html' %}
{% load static %}

{% block head %}

    <style>

        .card-header{
            background-color:#FF4500;
            opacity: 0.7;
            color: white;
    }
        .div-pulsanti{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .div-pulsanti button {
            margin: 0 10px;
        }

    .card-header{
        background-color:#FF4500;
        opacity: 0.7;
        color: white;
    }
    .div-pulsanti{
       display: flex;
        justify-content: center;
        align-items: center;
    }
    .div-pulsanti button {
        margin: 0 10px;
    }

    </style>
{% endblock %}

{% block content %}

    <!-- Se ho la dieta la visualizzo -->
    {% if dieta %}

        <div class="text_red"> Dieta completa di {{ dieta.my_user.username }} </div>
        <div style="text-align: center;">
            <h4> {{ dieta.tipologia.upper }}</h4>
            <h5> {{ dieta.descrizione }}</h5>
            <strong> Fine dieta {{ dieta.data_fine }}</strong>


            {% for giorno in giorni_dieta %}
                <div class="card">
                    <div class="card-header"> Giorno  {{ giorno.giorno }} {{ giorno.get_macro }} </div>

                    <div class="card-body">

                        {% for dettaglio in dettagli %}
                            {% if dettaglio.giorno == giorno %}
                                <p>{{ dettaglio.pasto }}</p>
                                <p> {{ dettaglio.alimento.nome }} {{ dettaglio.quantita }} g</p>

                                <!-- Se sono un nutrizionista do la possibilità di modificare i dettagli -->
                                {% if "nutrizionista" in user.groups.all.1.name %}
                                    <form method="GET" action="{% url 'Diet:modifica_dettaglio' dettaglio.pk  %}" >
                                        {% csrf_token %}
                                        <button class="pulsante-rosso" type="submit">Modifica Quantita</button>
                                    </form>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% if "nutrizionista" in user.groups.all.1.name %}
                            <br>
                            <div class="div-pulsanti">
                                <form method="GET" action="{% url 'Diet:elimina_gionro' giorno.pk  %}" >
                                    {% csrf_token %}
                                    <button class="pulsante-rosso" type="submit">Elimina Giorno</button>
                                </form>
                                <form method="POST" action="{% url 'Diet:crea_dettaglio' giorno.pk%}">
                                    {% csrf_token %}
                                    <button class="pulsante-rosso" type="submit">Aggiungi Alimento</button>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <br>

        <!-- Se sono un nutrizionista do la possibilità modificarla -->
        <div class="div-pulsanti">
            <a href="{% url 'home_login' %}" class="pulsante-rosso">Home </a>
            {% if "nutrizionista" in user.groups.all.1.name %}

                    <form method="POST" action="{% url 'Diet:modifica_dieta' dieta.pk %}">
                        {% csrf_token %}
                        <button class="pulsante-rosso" type="submit">Modifica dieta</button>
                    </form>

                    <form method="POST" action="{% url 'Diet:crea_giorno' dieta.pk %}">
                        {% csrf_token %}
                        <button class="pulsante-rosso" type="submit">Crea giorno</button>
                    </form>
            {% endif %}
        </div>
        <br>

    <!-- Se non ho la dieta -->
    {% else %}
        <!-- Se sono un nutrizionista do la possibilità di crearla -->
        {% if "nutrizionista" in  user.groups.all.1.name %}
            <div class="404Dieta">
                <div class="card mb-3">
                    <img src="{% static 'imgs/404_dieta.jpg' %}" class="card-img-top">
                    <div class="card-body">
                        <div style="text-align: center;">
                            <p> L'utente {{ my_user.username }}, non possiede ancora una dieta, creane una</p>
                            <form method="POST" action="{% url 'Diet:crea_dieta' my_user.pk %}">
                                {% csrf_token %}
                                <button class="pulsante-rosso" type="submit">Crea dieta</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

         <!-- Altrimenti se sono un untente normale do un messaggio di errore -->
        {% else %}
            <div class="404Dieta">
                <div class="card mb-3">
                    <img src="{% static 'imgs/404_dieta.jpg' %}" class="card-img-top">
                    <div class="card-body">
                            <h3> <span style="color:#8B0000;"> <strong>Se desideri ricevere una scheda chiedila al tuo nutrizionista </strong> </span></h3>
                        <p class="card-text">Al momento non disponi di alcuna dieta, per ricevere una dieta controlla che il tuo abbonamento sia valido e fai richiesta
                        ad un nutrizionista attraverso il link <a href="#"></a></p>
                    </div>
                </div>
            </div>
        {% endif %}


    {% endif %}
{% endblock %}