.navbar {
    background-color: #B0171F;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 /* Personalizzazione del logo */
.logo strong {
    color:#000000;
    font-size: 28px;
    text-decoration: none;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}
/* Stile dei link */
.nav-links a {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
}

/* Personalizzo i link quando ci passo in cima con il mouse*/

.nav-links a:hover {
    color: #FCFCFC;
    text-decoration: underline;
}
.text_red {
     background-color: #B0171F;
     padding: 20px;
     color: white;
     font-size: 24px;
     text-align: center;
 }

.pulsante-rosso{
    background-color: #B0171F;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.pulsante-rosso a:hover{
    color: #FCFCFC;

}

.div-bassa{
     text-align: center;
     padding: 20px;
     position: fixed;
     bottom: 0;
     left: 0;
     right: 0;
 }

.div-bassa-2{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.div-bassa-2 button {
    margin: 0 20px; /* Aggiunge spazio tra i pulsanti */
}

.div-bassa-3 {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 20px 0;
    background-color: white; /* Colore di sfondo per coprire il contenuto sottostante */

}


.DivAlimenti{
    background-color: #8B0000;
    color: white;
    border: 1px;
    margin: 5px;
}

.colazione {
    background-color: darkgoldenrod;
}
 .pranzo {
     background-color: darkslateblue;
 }

.cena {
    background-color: darkslategrey;
}

.div-pulsanti{
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-pulsanti button {
    margin: 0 10px;
}

.div-evidenziata{
    background-color: darkgoldenrod;
}
.testo-rosso{
    color: #DC143C;
    font-weight: bold;
}
.spaziatura {
    margin-right: 50px; /* Imposta il margine desiderato */
}


.testo-arancione{
    color: tomato;
    font-weight: bold;
}
.testo-speciale{
    text-decoration: underline;
    color: red
}

.testo-grande{
    font-size: 40px;
}


/* Stile della chat */
.messaggio-inviato {
    background-color: orange;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 0px ; /* Riduci il margine tra i messaggi inviati */
    text-align: right;
    float: right; /* Allinea a destra */
}

.messaggio-ricevuto {
    background-color: #8B0000;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 0px; /* Riduci il margine tra i messaggi ricevuti */
    text-align: left;
    float: left; /* Allinea a sinistra */
}

.chat-container {
    width: 30%;
    margin: auto;
    padding: 20px;
    overflow: auto;
    display: flex; /* Utilizza il modello flex */
}


.messaggio-per-utente{
    text-align: center;
    background-color: brown;
    color: white;
    font-size: 20px;
}

.input-larga {
    width: 100%;
}