.navbar {
    background-color: #B0171F;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 /* Personalizzazione del logo */
.logo strong {
    color:#000000;
    font-size: 28px;
    text-decoration: none;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}
/* Stile dei link */
.nav-links a {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
}

/* Personalizzo i link quando ci passo in cima con il mouse*/
.nav-links a:hover {
    color: #FCFCFC;
    text-decoration: underline;
}
 .text_red {
     background-color: #B0171F;
     padding: 20px;
     color: white;
     font-size: 24px;
     text-align: center;
 }

.pulsante-rosso{
    background-color: #B0171F;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pulsante-rosso a:hover{
    color: #FCFCFC;

}
 .div-bassa{
     text-align: center;
     padding: 20px;
     position: fixed;
     bottom: 0;
     left: 0;
     right: 0;
 }
.div-bassa-2{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.div-bassa-2 button {
    margin: 0 20px; /* Aggiunge spazio tra i pulsanti */
}


.DivAlimenti{
    background-color: #8B0000;
    color: white;
    border: 1px;
    margin: 5px;
}
.colazione {
    background-color: darkgoldenrod;
}
 .pranzo {
     background-color: darkslateblue;
 }

.cena {
    background-color: darkslategrey;
}

.div-pulsanti{
    text-align: center;
}

.div-pulsanti button{
    margin: 0 10px;
}

.div-evidenziata{
    background-color: darkgoldenrod;
}
