{% extends 'base.html' %}
{% load static %}

{% block head %}
    <style>
        .container {
            display: flex; /* dispongo i contenuti in orizzontale */
            align-items: center; /* allineamento verticale al centro */
        }

        .container img {
            max-width: 50%; /* Larghezza massima per l'immagine */
        }

        .content {
            flex: 1; /* La sezione contenuto occupa lo spazio rimanente */
            padding: 20px; /* Spazio di riempimento per separare il contenuto dall'immagine */
        }
    </style>
{% endblock %}

{% block content %}

    {% if user.is_staff %}
        <div style="text-align: center">
            <h3> <span style="color:#8B0000;"> <strong>Benvenuto nella home della OLYMPIA GYM admin </strong> </span></h3>
            <a href="{% url 'admin:index' %}">Pannello di amministrazione</a>
            <br>
            <a href="{% url 'Users:crea_nutrizionista' %}">Aggiungi un nutrizionista</a>
            <br>
            <a href="{% url 'Users:creaa_pt'%}">Aggiungi un personal trainer</a>
        </div>


    {% elif "nutrizionista" in  user.groups.all.1.name or "pt" in user.groups.all.1.name %}
        <div class="text_red"> Benvenuto nella home della OLYMPIA GYM </div>
        <div style="text-align: center">
            <br>
            <img src="{% static 'imgs/palestra.jpg' %} "width="850">
            <p> <strong>Visualizza la listra degli utenti per modificarne i dati</strong>   </p>
            <a href="{% url 'Users:listautenti' %}" class="pulsante-rosso">Visualizza utenti</a>

        </div>


    {% else %}
    <div class="navbar sticky-top">
            <div class="logo">
                <strong>OLYMPIA GYM </strong>
            </div>
            <ul class="nav-links">
                <li><a href="{% url 'Workout:mostra_scheda_user' user_pk %}">Scheda</a></li>
                <li><a href="{% url 'Diet:mostradietauser' user_pk %}">Dieta</a></li>
                <li><a href="{% url 'Prenotazioni:calendario' user_pk %}">Prenotazioni</a></li>
                <li><a href="{% url 'Users:situazione' user_pk %}">Situazione Personale</a></li>
                <li><a href="{% url 'Users:lista_staff' %}">Visualizza staff </a></li>
            </ul>
        </div>

        <p></p>
        <div style="text-align: center">
        <br>
        <h2> <span style="color:#8B0000;"> <strong>Benvenuto nella home della OLYMPIA GYM {{ user.username }} </strong> </span></h2>
        <br>
        </div>
        <div class="container">
            <img src="{% static 'imgs/palestra.jpg' %}" class="img-thumbnail" alt="Descrizione dell'immagine">
            <div class="content">
                <h2> <span style="color: #8B0000"> <strong>Scegli cosa fare </strong></span></h2>
                <p> <strong>Visualizza la scheda</strong></p>
                <p><strong> Visualizza la dieta </strong></p>
                <p><strong> Effettua una prenotazione </strong></p>
                <p> <strong>Visualizza la tua situazione</strong> </p>
                <p> <strong>Chatta con il nostro team </strong></p>
            </div>
        </div>

        {% endif %}
    <div class="div-bassa-2">
        <a href="{% url 'logout'  %}" class="pulsante-rosso">Logout</a>
    </div>


{% endblock %}